
@media (min-width:1200px){
.social{
  padding: 0;
}
.social ul{
  padding-left:200px;
}
.social li{
  display: inline;
  font-size: 25px;
  padding: 5px;
  
}
.headerp{
	height: 150px;
}
.headerlogo{
	padding: 45px;
}
.headersocial{
	padding-top: 100px;
	padding-right: 10px;
}
.contenedornav{
	height: 60px;
	padding-top: 5px;
	background-color:#aba4a4;

}
.contenedornav ul{
	padding-left: 5%;

}

.nav2 li{
	display: inline;
	float: left;
	width: 14%;
	margin: 1%;
	font-size: 20px;
	text-align: center;
	background-color: #00ffff;
	border-radius: 5px;
}
.nav2 li:hover{
	background: white;
}
.imgcontenido{
	margin-top: 65px;
}


}

@media(max-width: 1200px){
.social li{
  display: inline;
  font-size: 25px;
  padding: 5px;
}
.headerlogo{
	padding: 45px;
}

.headersocial{
	padding-top: 100px;
	padding-right: 10px;
	text-align: center;
}
.contenedornav{
	height: 60px;
	padding-top: 5px;
	background-color:#aba4a4;

}
.contenedornav ul{
	padding-left: 5%;

}

.nav2 li{
	display: inline;
	float: left;
	width: 14%;
	margin: 1%;
	font-size: 20px;
	text-align: center;
	background-color: #00ffff;
	border-radius: 5px;
}
.nav2 li:hover{
	background: white;
}

}




@media(max-width: 768px){
.social li{
  display: inline;
  font-size: 25px;
  padding: 5px;
}
.headerlogo{
	padding: 45px;
}

.headersocial{
	padding-top: 100px;
	padding-right: 10px;
	text-align: center;
}
.contenedornav{
	height: 250px;
	padding-top: 5px;
	background-color:#aba4a4;

}
.contenedornav ul{
	padding-left: 0%;

}

.nav2 li{

	float: left;
	width: 100%;
	background-color:#aba4a4;
	font-size: 20px;
	text-align: center;


}
.nav2 li:hover{
	background: white;
}

}